.container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
}

.container:hover {
  background-color: #e2e8f0;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 1rem;
}
