.author {
  font-size: 1rem;
  font-weight: 500;
}

.contentImage {
  object-fit: contain;
  border-radius: 12px;
}

.container {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.authorAndTime {
  display: flex;
  gap: 12px;
  align-items: center;
}

.time {
  font-size: 0.9rem;
}

.interactionContainer {
  display: flex;
  justify-content: space-between;
}
