.author {
  font-size: 1rem;
  font-weight: 500;
}

.contentImage {
  object-fit: contain;
  border-radius: 12px;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.authorAndTime {
  display: flex;
  gap: 12px;

  align-items: center;
  justify-content: space-between;
}

.authorAndTime > div {
  display: flex;
  gap: 12px;
  align-items: center;
}

.time {
  font-size: 0.9rem;
}

.interactionContainer {
  display: flex;
  justify-content: space-between;
}

.link {
  color: unset;
}

.link:hover {
  color: unset;
}

.wrapper {
  display: flex;
  gap: 16px;
  align-items: start;
  position: relative;
  z-index: 10;
}

.ellipsis {
  padding: 12px;
  z-index: 50;
  border-radius: 50%;
}

.ellipsis:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 50px;
  z-index: 100;
  background-color: white;
  border-radius: 12px;
  box-shadow: var(--primary-box-shadow);
}

.buttons button {
  display: flex;
  gap: 12px;
  padding: 12px;
  outline: none;
  border: none;
}

.buttons button:hover {
  color: var(--icon-color);
  background-color: var(--background-color);
  width: 100%;
}
