.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.detailContainer {
  display: flex;
  gap: 8px;
}

.detailContainer svg {
  fill: gray;
}

.container {
  background-color: white;
  box-shadow: var(--primary-box-shadow);
  padding: 12px;
  border-radius: 16px;
}

.bioInput {
  /* width: 100%; */
  resize: none;
  padding: 8px;
  border-radius: 8px;
  background-color: white;
}

.bioInputActive:hover {
  background-color: var(--background-color);
}

.bioInputActive {
  outline: 1px solid black;
}

.buttonContainer {
  align-self: flex-end;
  gap: 8px;
}
