.submitBtn {
  width: 100%;

  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  transition: transform 0.1s ease-out;
}

.submitBtn:hover {
  transform: scale(1.02);
}

.submitBtn:active {
  transform: scale(1);
}
