.input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px;
  height: 60px;
  background-color: transparent;
  outline: none;
}

.container {
  width: 100%;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.inputContainer {
  display: flex;
  background-color: #e2e8f0;
  width: 100%;
  border-radius: 16px;
  align-items: center;
  transition: all 1 ease-in-out;
}

.inputContainer > svg,
.fileInputLabel > svg,
.smileyContainer > svg {
  color: var(--icon-color);
  width: 24px;
  height: 24px;
  margin: 0 12px;
}

.smileyContainer:hover {
  cursor: pointer;
}

.emojiPicker {
  position: absolute;
  bottom: 100px;
  z-index: 50;
}

.fileInputLabel:hover {
  cursor: pointer;
}

.inputContainer > svg:hover {
  cursor: pointer;
}

.fileInput {
  display: none;
}

.time {
  font-weight: 500;
}

.recordDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.timeContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 12px;
}

.emojiPicker button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
