.iconContainer {
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.2s ease-out;
  background-color: #f0f0f0;
}

.iconContainer:focus {
  border: none;
  outline: none;
}

.iconContainer svg {
  color: var(--color);
  min-width: 24px;
  height: 24px;
}

.iconContainer:hover {
  background-color: var(--color);
}

.iconContainer:hover svg {
  color: white;
}

.hoverFill:hover svg {
  fill: white;
}
