.filePreview {
  margin-top: 10px;
}

.filePreview h4 {
  margin-bottom: 5px;
}

.filePreview ul {
  list-style-type: none;
  padding: 0;
}

.filePreview li {
  background-color: #f0f0f0;
  margin-bottom: 5px;
  padding: 12px;
  border-radius: 12px;
}

.file {
  display: flex;
  /* gap: 12px; */
}

.fileName {
  font-weight: bold;
}

.XIcon {
  position: absolute;
  right: 25px;
}

.XIcon {
  cursor: pointer;
}
