body {
  --accent: #8855ff;
}
.container {
  display: flex;
  gap: 32px;
  align-items: center;
  position: relative;
}

.icon {
  padding: 10px;
  border-radius: 8px;
  color: #94a3b8;
}

.li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  /* background: white; */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  user-select: none;
}

.active .icon {
  fill: var(--icon-color);
  color: var(--primary-color);
}

.underline {
  position: absolute;
  bottom: -13px;
  left: 10px;
  right: 0;
  height: 2px;
  background: var(--icon-color);
}

.selected svg {
  fill: var(--icon-color);
  color: var(--primary-color);
}
.nav p {
  color: #94a3b8;
}

.selected p {
  color: var(--icon-color);
}

.nav {
  padding: 5px 5px 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  align-self: center;
}

.iconContainer {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

@media (max-width: 1024px) {
  .iconContainer > p {
    display: none;
  }
  .underline {
    left: 0;
  }

  .container {
    display: none;
  }
}
