.container {
  display: flex;
  gap: 32px;

  align-items: center;
}

.icon:hover {
  background-color: #cbd5e1;
}

.icon {
  padding: 10px;
  border-radius: 8px;
  color: #94a3b8;
}

.active .icon {
  fill: var(--icon-color);
  color: var(--primary-color);
}
