.container {
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 4px 0;
  min-width: 100px;
}

.container:focus,
.contaner:hover {
  outline: none;
  border: none;
}

.count {
  font-size: 0.9rem;
  font-weight: 500;
}
