.wrapper {
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  border-radius: 15px;
  overflow: auto;
}

.wrapper::backdrop {
  background-color: #ccc;
  opacity: 0.75;
}

.submitBtn,
.btnDeactive {
  display: flex;
  justify-content: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.formContainer > div {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: visible;
}

.avatarContainer {
  display: flex;
  gap: 12px;
}

.link {
  color: #9ca3af;
}

.name {
  font-weight: bold;
}

.contentInput {
  border-color: transparent;
  outline-color: transparent;
  border-radius: 12px;
  overflow: auto;
  margin-top: 10px;
  line-height: 1.5;
  font-size: 2rem;
}

.icon {
  margin-left: auto;
}

.icon:hover {
  cursor: pointer;
}

.addToPost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ced0d4;
  padding: 16px;
  border-radius: 8px;
  box-shadow: #0000001a 0px 1px 2px 0px;
}

.addToPost > p {
  font-size: 1.2rem;
  font-weight: 500;
}

.addToPost > div {
  display: flex;
  gap: 8px;
}

.submitBtn {
  background-color: #31a9ff;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px;
}

.btnDeactive {
  background-color: #e4e6eb;
  color: #1c1e21;
  font-size: 1rem;
  font-weight: 500;
  padding: 6px;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons > * {
  padding: 8px;
  border-radius: 50%;
}

.buttons > *:hover {
  cursor: pointer;
  background-color: #d1d5db;
}

.addImage {
  width: 30px;
  height: 30px;
}
.gifPickerContainer {
  max-width: 550px;
}

.emojiPicker {
  position: absolute;
  z-index: 9999;
  right: 0;
}

.emojiPickerContainer {
  position: relative;
}
