.wrapper {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.communityImage {
  width: 41px;
  height: 41px;
  border-radius: 10px;
}

.header {
  font-size: 1.2rem;
}

.container {
  display: flex;
  gap: 12px;
}

.communityName {
  font-weight: 500;
  font-size: 0.9rem;
}

.friendsIn {
  color: #409f1e;
  font-size: 0.8rem;
}

.communitiesList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
